*{
  margin: 0
}

.app {
  background-color: beige;
}

.toggle__header{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.toggle {
  border: 1px green solid;
  width: 40%;
  border-radius: 99px;
  height: 30px;
  justify-content: space-around;
  display: flex;
}

.toggle > button {
  border: none;
  width: 50%;
  border-radius: 99px;
  background-color: green;
}

.toggle > button:disabled{
  background-color: white;
}

.search {
  background-color: red;
}

.app__insert {
  display: flex;
  justify-content: center;
}